In [3]:
import pandas as pd 
df = pd.read_excel('./Likert Scale Ratings.xlsx')
# print(df.mean())
print(df.std())

Pleasantness Ratings    0.779694
Unnamed: 1              2.643780
Unnamed: 2              2.053171
Unnamed: 3              1.601292
Unnamed: 4              1.304256
Unnamed: 5              2.090548
Unnamed: 6              1.831086
Unnamed: 7              2.185783
Unnamed: 8              2.995813
Unnamed: 9              2.365022
Unnamed: 10             2.384706
Unnamed: 11             2.500125
Unnamed: 12             1.908870
Unnamed: 13             2.518472
Unnamed: 14             1.969429
Unnamed: 15             1.308247
Unnamed: 16             2.084155
Unnamed: 17             1.748322
Unnamed: 18             1.811579
Unnamed: 19             1.979229
Unnamed: 20             1.371125
Unnamed: 21             1.303393
Unnamed: 22             1.855946
Unnamed: 23             1.705019
Unnamed: 24             1.723991
Unnamed: 25             2.216851
Unnamed: 26             1.492712
Unnamed: 27             2.309082
Unnamed: 28             1.851087
Unnamed: 29             2.729140
dtype: float64

In [1]:
import pandas as pd
import numpy as np

from pandas.api.types import is_numeric_dtype

np.random.seed(42)
age = np.random.randint(20,100,50)
name = ['name'+str(i) for i in range(50)]
address = ['address'+str(i) for i in range(50)]

df = pd.DataFrame(data={'age':age, 'name':name, 'address':address})

def remove_outlier(df):
    low = .05
    high = .95
    quant_df = df.quantile([low, high])
    for name in list(df.columns):
        if is_numeric_dtype(df[name]):
            df = df[(df[name] > quant_df.loc[low, name]) & (df[name] < quant_df.loc[high, name])]
    return df

remove_outlier(df).head()

   age   name   address
0   71  name0  address0
1   34  name1  address1
2   91  name2  address2
3   80  name3  address3
4   40  name4  address4